{{- if (.Values.networkCosts).enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "kubecost.networkCosts.name" . }}-network-costs-cluster-role
  labels:
    {{- include "kubecost.commonLabels" . | nindent 4 }}
rules:
  - apiGroups:
      - ''
    resources:
      - nodes
      - pods
      - services
      - endpoints
    verbs:
      - get
      - list
      - watch
  {{- if .Values.networkCosts.leaderKubernetesWatcher }}
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - patch
  {{- end }}
{{- end }}