{{- if .Values.cloudCost.enabled }}
{{- /*
  TODO add a pvc for persistent configs and maybe a warning if both the pv and secret are not enabled
*/}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubecost.cloudCost.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubecost.cloudCost.commonLabels" . | nindent 4 }}
    {{- with .Values.global.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
  {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.cloudCost.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kubecost.cloudCost.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloud-cost
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: cloud-cost
        {{- with .Values.global.additionalLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- with .Values.global.podAnnotations}}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/configs: {{ include "kubecost.configsChecksum" . }}
    spec:
      {{- if .Values.global.platforms.openshift.enabled }}
      securityContext:
      {{- toYaml .Values.global.platforms.openshift.securityContext | nindent 8 }}
      {{- else if .Values.global.securityContext }}
      securityContext:
      {{- toYaml .Values.global.securityContext | nindent 8 }}
      {{- else }}
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      {{- end }}
      restartPolicy: Always
      serviceAccountName: {{ include "kubecost.cloudCost.serviceAccountName" . }}
      volumes:
        - name: federated-storage-config
          secret:
            defaultMode: 420
            secretName: {{ include "kubecost.federatedStorage.secretName" . }}
        {{- if or .Values.cloudCost.cloudIntegrationSecret .Values.cloudCost.cloudIntegrationJSON .Values.kubecostProductConfigs.cloudIntegrationJSON .Values.kubecostProductConfigs.cloudIntegrationSecret }}
        - name: cloud-integration
          secret:
            secretName: {{ include "kubecost.cloudCost.secretName" . }}
            items:
              - key: cloud-integration.json
                path: cloud-integration.json
        {{- end }}
        {{- /* The cloud costs deployment does not need persistence.
            The name is for compatibility with single-pod install. */}}
        - name: persistent-configs
          emptyDir: {}
        {{- if .Values.plugins.enabled  }}
        {{- if .Values.plugins.install.enabled}}
        - name: install-script
          configMap:
            name: {{ template "kubecost.fullname" . }}-install-plugins
        {{- end }}
        - name: plugins-dir
          emptyDir: {}
        {{- if and (not .Values.plugins.existingCustomSecret.enabled) .Values.plugins.secretName }}
        - name: plugins-config
          secret:
            secretName: {{ .Values.plugins.secretName }}
            items:
            {{- range $key, $config := .Values.plugins.enabledPlugins }}
              - key: {{ $config }}_config.json
                path: {{ $config }}_config.json
            {{- end }}
        {{- end }}
        {{- if .Values.plugins.existingCustomSecret.enabled }}
        - name: plugins-config
          secret:
            secretName: {{ .Values.plugins.existingCustomSecret.name }}
            items:
            {{- range $key, $config := .Values.plugins.enabledPlugins }}
              - key: {{ $config }}_config.json
                path: {{ $config }}_config.json
            {{- end }}
        {{- end }}
        - name: tmp
          emptyDir: {}
        {{- end }}
        {{- if .Values.global.updateCaTrust.enabled }}
        - name: ca-certs-secret
          {{- if .Values.global.updateCaTrust.caCertsSecret }}
          secret:
            defaultMode: 420
            secretName: {{ .Values.global.updateCaTrust.caCertsSecret }}
          {{- else }}
          configMap:
            name: {{ .Values.global.updateCaTrust.caCertsConfig }}
          {{- end }}
        - name: ssl-path
          emptyDir: {}
        {{- end }}
        {{- if .Values.cloudCost.extraVolumes }}
        {{- toYaml .Values.cloudCost.extraVolumes | nindent 8 }}
        {{- end }}
      {{- if or (and .Values.plugins.enabled .Values.plugins.install.enabled ) .Values.global.updateCaTrust.enabled }}                
      initContainers:
      {{- if and .Values.plugins.enabled .Values.plugins.install.enabled }}
      - name: plugin-installer
        image: {{ .Values.plugins.install.fullImageName }}
        command: ["sh", "/install/install_plugins.sh"]
        {{- with .Values.plugins.install.securityContext }}
        securityContext: {{- toYaml . | nindent 12 }}
        {{- end }}
        volumeMounts:
          - name: install-script
            mountPath: /install
          - name: plugins-dir
            mountPath: {{ .Values.plugins.folder }}
          {{- if .Values.cloudCost.extraVolumeMounts }}
          {{- toYaml .Values.cloudCost.extraVolumeMounts | nindent 10 }}
          {{- end }}
      {{- end }}
      {{- if .Values.global.updateCaTrust.enabled }}
      - name: update-ca-trust
        image: {{ include "kubecost.cloudCost.image" . }}
        {{- if .Values.cloudCost.imagePullPolicy }}
        imagePullPolicy: {{ .Values.cloudCost.imagePullPolicy }}
        {{- else }}
        imagePullPolicy: Always
        {{- end }}
        {{- with .Values.global.updateCaTrust.securityContext }}
        securityContext: {{- toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.global.updateCaTrust.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        command:
          - 'sh'
          - '-c'
          - >
            mkdir -p /etc/pki/ca-trust/extracted/{edk2,java,openssl,pem};
            /usr/bin/update-ca-trust extract;
        volumeMounts:
          - name: ca-certs-secret
            mountPath: {{ .Values.global.updateCaTrust.caCertsMountPath | quote }}
          - name: ssl-path
            mountPath: "/etc/pki/ca-trust/extracted"
            readOnly: false
          {{- if .Values.cloudCost.extraVolumeMounts }}
          {{- toYaml .Values.cloudCost.extraVolumeMounts | nindent 10 }}
          {{- end }}
      {{- end}}
      {{- end}}
      containers:
        - name: cloud-cost
          image: {{ include "kubecost.cloudCost.image" . }}
          {{- if .Values.cloudCost.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9005
            initialDelaySeconds: {{ .Values.cloudCost.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.cloudCost.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.cloudCost.readinessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.aggregator.imagePullPolicy }}
          imagePullPolicy: {{ .Values.aggregator.imagePullPolicy }}
          {{- else }}
          imagePullPolicy: Always
          {{- end }}
          args: ["cloud-cost"]
          ports:
            - name: tcp-api
              containerPort: 9005
              protocol: TCP
          {{- with .Values.cloudCost.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.global.containerSecurityContext }}
          securityContext:
            {{- toYaml .Values.global.containerSecurityContext | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: persistent-configs
              mountPath: /var/configs
            - name: federated-storage-config
              mountPath: /var/configs/federated-store.yaml
              subPath: {{ include "kubecost.federatedStorage.fileName" . }}
              readOnly: true
          {{- if or .Values.cloudCost.cloudIntegrationSecret .Values.cloudCost.cloudIntegrationJSON .Values.kubecostProductConfigs.cloudIntegrationJSON .Values.kubecostProductConfigs.cloudIntegrationSecret }}
            - name: cloud-integration
              mountPath: /var/configs/cloud-integration.json
              subPath: cloud-integration.json
              readOnly: true
          {{- end }}
            {{- if .Values.plugins.enabled }}
            - mountPath: {{ .Values.plugins.folder }}
              name: plugins-dir
              readOnly: false
            - name: tmp
              mountPath: /tmp
            - mountPath: {{ $.Values.plugins.folder }}/config
              name: plugins-config
              readOnly: true
            {{- end }}
            {{- if .Values.global.updateCaTrust.enabled }}
            - name: ca-certs-secret
              mountPath: {{ .Values.global.updateCaTrust.caCertsMountPath | quote }}
            - name: ssl-path
              mountPath: "/etc/pki/ca-trust/extracted"
              readOnly: false
            {{- end }}
          {{- if .Values.cloudCost.extraVolumeMounts }}
            {{- toYaml .Values.cloudCost.extraVolumeMounts | nindent 12 }}
          {{- end }}
          env:
            - name: APP_NAME
              value: "cloud-agent"
            - name: CONFIG_PATH
              value: /var/configs/
            - name: RESOLUTION_1D_RETENTION
              value: {{ (quote .Values.cloudCost.retention1d) }}
            - name: CLOUD_COST_REFRESH_RATE_HOURS
              value: {{ .Values.cloudCost.refreshRateHours | default 6 | quote }}
            - name: CLOUD_COST_QUERY_WINDOW_DAYS
              value: {{ .Values.cloudCost.queryWindowDays | default 7 | quote }}
            - name: CLOUD_COST_RUN_WINDOW_DAYS
              value: {{ .Values.cloudCost.runWindowDays | default 3 | quote }}
            - name: CUSTOM_COST_ENABLED
              value: {{ .Values.plugins.enabled | quote }}
            {{- if .Values.cloudCost.extraEnv }}
            {{- toYaml .Values.cloudCost.extraEnv | nindent 12 }}
            {{- end }}
            {{- include "common.systemProxy" . | nindent 12 }}
      {{- include "kubecost.imagePullSecrets" . | nindent 6 }}
      {{- if ((.Values.aggregator).priority).enabled }}
      {{- if .Values.aggregator.priority.name }}
      priorityClassName: {{ .Values.aggregator.priority.name }}
      {{- else }}
      priorityClassName: {{ template "kubecost.fullname" . }}-aggregator-priority
      {{- end }}
      {{- end }}

      {{- with .Values.cloudCost.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.cloudCost.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.cloudCost.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
