apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "kubecost.serviceAccountName" . }}
  labels:
    {{- include "kubecost.commonLabels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - list
  - apiGroups:
      - ''
    resources:
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  



