{{- if (.Values.reporting).logCollection -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "kubecost.aggregator.serviceAccountName" . }}-log-collection
  labels:
    {{- include "kubecost.commonLabels" . | nindent 4 }}
rules:
  - apiGroups:
      - ''
    resources:
      - "pods/log"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - list
{{- end }}